.product_card {
    max-width: 300px;
    padding: 15px;
    box-shadow: 0 0 15px #ddd;
    margin: 10px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product_card img {
    width: 100%;
    height: auto;
    max-height: 300px;
    display: block;
    object-fit: cover;
}

.product_box {
    width: 100%;
    margin-top: 10px;
    flex-grow: 1;
}

.product_box h2 {
    text-transform: capitalize;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.product_card span {
    color: crimson;
    font-size: 1rem;
}

.product_box p {
    color: #333;
    margin-bottom: 10px;
    transition: height 0.3s ease;
}

.row_btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.row_btn a {
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 6px;
    background: #555;
}

.btn_buy {
    margin-right: 5px;
}

.btn_view {
    margin-left: 5px;
}

.product_description {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Show only 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product_description.expanded {
    -webkit-line-clamp: unset; /* Remove line clamp when expanded */
    overflow: visible;
}
